<div class="col-xs-12 col-md pb-5 pb-md-0">
    <main>
        <div class="box">
            <h3>Método de pagamento</h3>
            <form action="/checkout/payment" method="post" id="formChoosePayment" class="mb-0">
                <div class="cards_list">
                    {{#each paymentType}}
                        <div class="form-check">
                        <div class="row">
                            <div class="col d-flex flex-row align-items-center">
                            <input
                                type="radio"
                                class="form-check-input mt-0"
                                name="choosePaymentRadio"
                                value="{{this.type}}"
                                {{#if @first}}checked{{/if}}
                            />
                            <div class="row">
                                <div class="col d-flex flex-column">
                                <label for={{this.type}} class="d-flex flex-row gap-1 align-items-center">{{{this.icon}}}{{this.name}}</label>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    {{/each}}
                </div>
                <div class="row mt-5">
                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Avançar</button>
                </div>
                </div>
            </form>
        </div>
    </main>
</div>