<script>
  function handleBackspace(value){
    return value = value.slice(0, -1);
  }

  function handleCPFMask() {
    const isValidKey = /([\d]|Backspace|Tab|Enter)/g.test(event.key);
    const inputId = event.target.id;
    const input = document.getElementById(inputId);

    if (!isValidKey) {
      event.preventDefault();
      event.stopPropagation();
      document.getElementById(inputId).classList.add("is-invalid");
      document.getElementById(inputId + "Validation").innerText =
        "Só são aceitos números";
      return;
    }

    if (input.classList.contains("is-invalid")) {
      input.classList.remove("is-invalid");
    }

    if (event.key === "Backspace") {
      input.value = handleBackspace(input.value);
      return;
    }

    if(event.key === "Tab"){
      return;
    }

    if(event.key === "Enter"){
      return;
    }

    event.preventDefault();
    event.stopPropagation();
    const inputValue = event.target.value;
    const cpf = inputValue.replace(/[^\d]/g, "") + event.key;

    if (cpf.length >= 12) {
      return;
    }

    if (cpf.length <= 6) {
      input.value = cpf.replace(/(\d{3})(\d{1,3})/g, "$1.$2");
      return;
    } else if (cpf.length <= 9) {
      input.value = cpf.replace(/(\d{3})(\d{3})(\d{1,3})/g, "$1.$2.$3");
      return;
    } else {
      input.value = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{1,2})/g, "$1.$2.$3-$4");
      return;
    }
  }


  function handleCellphoneMask(){
    event.preventDefault();
    event.stopPropagation();
    const isValidKey = /([\d]|Backspace)/g.test(event.key);
    const inputId = event.target.id;
    const input = document.getElementById(inputId);

    if (!isValidKey) {
      event.preventDefault();
      document.getElementById(inputId).classList.add("is-invalid");
      document.getElementById(inputId + "Validation").innerText =
        "Só são aceitos números";
      return;
    }

    if (input.classList.contains("is-invalid")) {
      input.classList.remove("is-invalid");
    }

    if (event.key === "Backspace") {
      event.preventDefault();
      input.value = handleBackspace(input.value);
      return;
    }

    const cellphone = input.value.replace(/[^\d]/g, "") + event.key;

    if (cellphone.length >= 12) {
      return;
    }

    input.value = cellphone.replace(/(\d{2})(\d{1,5})(\d{1,4})/g, "($1) $2-$3");
  }

  function isValidCPF(cpf){
        cpf = cpf.replaceAll(".", "").replace("-", "");
        //Verify if all digits are equals, if they're so it's invalid
        const allDigitsEqual = /^(\d)\1+$/g.test(cpf);
        if(allDigitsEqual){
            return false;
        }

        //Calc for verifier digits
        let sum = 0;
        let remainder;

        for (let i = 1; i <= 9; i++) {
            sum += parseInt(cpf[i-1]) * (11-i);
        }

        remainder = (sum * 10) % 11;

        if(remainder === 10 || remainder === 11){
            remainder = 0;
        }

        if(remainder !== parseInt(cpf[9])){
            return false;
        }

        sum = 0;

        for (let i = 1; i <= 10; i++) {
            sum += parseInt(cpf[i - 1]) * (12 - i);
          }
        
          remainder = (sum * 10) % 11;
        
          if (remainder === 10 || remainder === 11) {
            remainder = 0;
          }
        
          if (remainder !== parseInt(cpf[10])) {
            return false;
          }
        
          // Se passou por todas as verificações, o CPF é válido
          return true;
    }

  function handleSubmit(){
    const fullnameInput = document.getElementById('fullname');
    const emailInput = document.getElementById('email');
    const cpfInput = document.getElementById('cpf');
    const cellphoneInput = document.getElementById('cellphone');
    let fieldsNotEmpty = true;

    const emailIsValid = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/g.test(emailInput.value);

    if(fullnameInput.value === ""){
      fullnameInput.classList.add('is-invalid');
      document.getElementById('fullnameValidation').innerText = 'Esse campo é obrigatório';
      fieldsNotEmpty = false;
    }else{
      if(fullnameInput.classList.contains('is-invalid')){
        fullnameInput.classList.remove('is-invalid');
        document.getElementById('fullnameValidation').innerText = "";
      }
    }

    if(emailInput.value === ""){
      emailInput.classList.add('is-invalid');
      document.getElementById('emailValidation').innerText = 'Esse campo é obrigatório';
      fieldsNotEmpty = false;
    }

    if(cpfInput.value === ""){
      cpfInput.classList.add('is-invalid');
      document.getElementById('cpfValidation').innerText = 'Esse campo é obrigatório';
      fieldsNotEmpty = false;
    }

    if(cellphoneInput.value === ""){
      cellphoneInput.classList.add('is-invalid');
      document.getElementById('cellphoneValidation').innerText = 'Esse campo é obrigatório';
      fieldsNotEmpty = false;
    }

    if(!fieldsNotEmpty){
      event.preventDefault();
      event.stopPropagation();
      return;
    }

    if(!isValidCPF(cpfInput.value)){
      cpfInput.classList.add('is-invalid');
      document.getElementById('cpfValidation').innerText = 'O CPF que você preencheu não é válido';
      event.preventDefault();
      event.stopPropagation();
    }

    if(!emailIsValid){
      emailInput.classList.add('is-invalid');
      document.getElementById('emailValidation').innerText = 'O email que você preencheu não é válido';
      event.preventDefault();
      event.stopPropagation();
    }
  }
</script>

<div class="col-xs-12 col-sm-12 col-md pb-5 pb-md-0">
  <main>
    <div class="box">
      <form
        action="/checkout/identify"
        class="mb-0"
        method="post"
        onsubmit="handleSubmit()"
        novalidate
      >
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col mb-3">
                <label for="fullname" class="form-label">Nome Completo</label>
                <input
                  type="text"
                  class="form-control"
                  id="fullname"
                  name="fullname"
                  aria-describedby="fullnameValidation"
                />
                <div id="fullnameValidation" class="invalid-feedback">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  aria-describedby="emailValidation"
                />

                <div id="emailValidation" class="invalid-feedback">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <label for="cpf" class="form-label">CPF</label>
                <input
                  type="text"
                  class="form-control"
                  id="cpf"
                  name="cpf"
                  onkeydown="handleCPFMask()"
                  aria-describedby="cpfValidation"
                />
                <div id="cpfValidation" class="invalid-feedback">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-5">
                <label for="cellphone" class="form-label">Celular com DDD</label>
                <input
                  type="text"
                  class="form-control"
                  id="cellphone"
                  name="cellphone"
                  onkeydown="handleCellphoneMask()"
                  aria-describedby="cellphoneValidation"
                />

                <div id="cellphoneValidation" class="invalid-feedback">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Avançar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</div>